.header {
  padding: 16px 0;
  border-bottom: 1px solid #e1e1e1;
  background-color: #fff;
}

.container {
  /* max-width: 1440px; */
  padding: 0 64px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

.logo {
  display: flex;
  align-items: center;
}

.logoIcon {
  width: 136px;
  height: 16px;
}

.nav {
  display: flex;
  gap: 32px;
}

@media (max-width: 768px) {
  .nav {
    gap: 16px;
  }
}

.link {
  font-size: 16px;
  color: #121417;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.link:hover {
  color: #e44848;
}

.activeLink {
  composes: link;
  color: #e44848;
}
